<div class="container">
	<div class="row">
		<h1>Editing Book</h1>
		<div class="col-md-6 col-md-offset-3">
			<%= form_for @book do |f| %>
				<%= render 'layouts/error_messages', model: f.object %>
				<div class="field row">
					<label>Title</label>
					<%= f.text_field :title, class:"col-xs-12" %>
				</div>

				<div class="field row">
					<label>Opinion</label>
					<%= f.text_area :body, class:"col-xs-12" %>
				</div>
				<div class="action row">
					<%= f.submit "Update Book",class:"btn btn-primary col-xs-12"%>
				</div>
			<% end %>

			<%= link_to "Show",book_path(@book.id) %>
			<span>|</span>
			<%= link_to "Back", books_path %>
		</div>
	</div>
</div>